{% extends 'index.html' %}

{% block content %}
<aside>
    <img src="../static/images/banner.png" alt="character card banner" srcset="">
</aside>

<section class="grid-container">
    <article class="item1">
        <div class="title">
            <h2>Informacje</h2>
        </div>
        <div class="content">
            <p>Imię:&nbsp;<span>{{character.name}}</span></p>
            <p>Wiek:&nbsp;<span>{{character.age}}</span></p>
            <p>Motywacja:&nbsp;<span>{{character.motivation}}</span></p>
            <p>Problem:&nbsp;<span>{{character.problem}}</span></p>
            <p>Duma:&nbsp;<span>{{character.pride}}</span></p>
            <p>Opis:&nbsp;<span>{{character.description}}</span></p>
            <p>Ulubiony kawałek:&nbsp;<span>{{character.song}}</span></p>
            <div class="item1a">
                <p>Typ:&nbsp;<span>{{character.type}}</span></p>
                <p>Punkty szczęścia:&nbsp;<span>{{character.luck}}</span></p>
                <p>Oparcie:&nbsp;<span>{{character.support}}</span></p>
                <p>Doświadczenie:&nbsp;<span>{{character.exp}}</span></p>
            </div>
        </div>
        </div>
    </article>

    <article class="item2">
        <div class="title">
            <h2>Cechy</h2>
        </div>
        <div class="content">
            <p><i class="fas fa-male"></i>&nbsp;Ciało:&nbsp;<span>{{character.body}}</span></p>
            <p><i class="fas fa-cogs"></i>&nbsp;Technika:&nbsp;<span>{{character.technique}}</span></p>
            <p><i class="far fa-heart"></i>&nbsp;Serce:&nbsp; <span>{{character.heart}}</span></p>
            <p><i class="fas fa-brain"></i>&nbsp;Umysł:&nbsp;<span>{{character.mind}}</span></p>
        </div>
    </article>

    <article class="item3">
        <div class="title">
            <h2>Umiejętności</h2>
        </div>
        <div class="content">
            <p><i class="fas fa-cat"></i>&nbsp;Skradanie się: <span>{{character.sneaking}}</span></p>
            <p><i class="fas fa-dumbbell"></i>&nbsp;Siła: <span>{{character.strength}}</span></p>
            <p><i class="fas fa-running"></i>&nbsp;Ruch: <span>{{character.movement}}</span></p>
            <p><i class="fas fa-tools"></i>&nbsp;Majsterkowanie: <span>{{character.diy}}</span></p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Programowanie: <span>{{character.coding}}</span></p>
            <p><i class="fas fa-search"></i>&nbsp;Analiza: <span>{{character.analisys}}</span></p>
            <p><i class="fas fa-users"></i>&nbsp;Znajomości: <span>{{character.conversance}}</span></p>
            <p><i class="fas fa-hand-holding-heart"></i>&nbsp;Urok: <span>{{character.charm}}</span></p>
            <p><i class="fas fa-chalkboard-teacher"></i>&nbsp;Przewodzenie: <span>{{character.conduction}}</span></p>
            <p><i class="fas fa-search-location"></i>&nbsp;Śledztwo: <span>{{character.investigation}}</span></p>
            <p><i class="fas fa-atom"></i>&nbsp;Pojmowanie: <span>{{character.understanding}}</span></p>
            <p><i class="fas fa-people-arrows"></i>&nbsp;Empatia: <span>{{character.empathy}}</span></p>
        </div>
    </article>

    <article class="item4">
        <div class="title">
            <h2>Stan</h2>
        </div>
        <div class="content">
            <p>Stan 1:&nbsp;<span>{{character.status1}}</span></p>
            <p>Stan 2:&nbsp;<span>{{character.status2}}</span></p>
            <p>Stan 3:&nbsp;<span>{{character.status3}}</span></p>
            <p>Stan 4:&nbsp;<span>{{character.status4}}</span></p>
            <p>Stan 5:&nbsp;<span>{{character.status5}}</span></p>
        </div>
    </article>

    <article class="item5">
        <div class="title">
            <h2>Relacje</h2>
        </div>
        <div class="content">
            <p>Dzieciak 1:&nbsp;<span>{{character.realtion1}}</span></p>
            <p>Dzieciak 2:&nbsp;<span>{{character.realtion2}}</span></p>
            <p>Dzieciak 3:&nbsp;<span>{{character.realtion3}}</span> </p>
            <p>Dzieciak 4:&nbsp;<span>{{character.realtion4}}</span></p>
            <p>Bn 1:&nbsp;<span>{{character.realtionBn1}}</span></p>
            <p>Bn 2:&nbsp;<span>{{character.realtionBn2}}</span></p>
            <p>Bn 3:&nbsp;<span>{{character.realtionBn3}}</span> </p>
        </div>
    </article>
    <article class="item6">
        <div class="title">
            <h2>Baza</h2>
        </div>
        <div class="content">
            <p>{{character.headquarters}}</p>
        </div>
    </article>
</section>

{% endblock content %}