{% extends 'index.html' %}

{% block content %}
<section>
    <article id="cards">

        {% for character in object_list %}

        <div>
            <h2>{{character.name}}</h2>
            <div class="avatar">
                <img src="{{character.avatar.url}}" alt="">
            </div>
            <p>Typ:&nbsp;<span>{{character.type}} </span></p>
            <p>Wiek:&nbsp;<span>{{character.age}}</span></p>
            <!--<p>Stan:&nbsp;<span>{{character.status}}</span></p>-->
            <p>Punkty szczęścia:&nbsp;<span>{{character.luck}}</span></p>
            <p>Przedmiot:&nbsp;<span>{{character.item}}</span></p>
            <p>Doświadczenie:&nbsp;<span>{{character.exp}}</span></p>
            <a href="{% url 'characterDetail' character.pk %}"><button>Karta</button></a>
        </div>

        {% endfor %}
    </article>
</section>
{% endblock content %}