{% extends 'index.html' %}

{% block content %}
<aside>
    <img src="../static/images/banner.png" alt="character card banner" srcset="">
</aside>
<section class="grid-container">
    <article class="item1">
        <div class="content">
            <p>Imię: </p>
            <p>Wiek: </p>
            <p>Motywacja: </p>
            <p>Problem: </p>
            <p>Duma: </p>
            <p>Opis:</p>
            <p>Ulubiony kawałek:</p>
            <div class="item1a">
                <p>Typ: </p>
                <p>Punkty szczęścia: </p>
                <p>Oparcie: </p>
            </div>
        </div>
        </div>
    </article>
    <article class="item2">
        <div class="title">
            <h2>Cechy</h2>
        </div>
        <div class="content">
            <p><i class="fas fa-male"></i>&nbsp;Ciało:&nbsp;<span>1</span></p>
            <p><i class="fas fa-cogs"></i>&nbsp;Technika:&nbsp;<span>1</span></p>
            <p><i class="far fa-heart"></i>&nbsp;Serce:&nbsp; <span>1</span></p>
            <p><i class="fas fa-brain"></i>&nbsp;Umysł:&nbsp;<span>1</span></p>
        </div>
    </article>
    <article class="item3">
        <div class="title">
            <h2>Umiejętności</h2>
        </div>
        <div class="content">
            <p><i class="fas fa-cat"></i>&nbsp;Skradanie się (Ciało): </p>
            <p><i class="fas fa-dumbbell"></i>&nbsp;Siła (Ciało): </p>
            <p><i class="fas fa-running"></i>&nbsp;Ruch (Ciało): </p>
            <p><i class="fas fa-tools"></i>&nbsp;Majsterkowanie (Technika): </p>
            <p><i class="fas fa-laptop-code"></i>&nbsp;Programowanie (Technika): </p>
            <p><i class="fas fa-search"></i>&nbsp;Analiza (Technika): </p>
            <p><i class="fas fa-users"></i>&nbsp;Znajomości (Serce): </p>
            <p><i class="fas fa-hand-holding-heart"></i>&nbsp;Urok (Serce): </p>
            <p><i class="fas fa-chalkboard-teacher"></i>&nbsp;Przewodzenie (Serce): </p>
            <p><i class="fas fa-search-location"></i>&nbsp;Śledztwo (Umysł): </p>
            <p><i class="fas fa-atom"></i>&nbsp;Pojmowanie (Umysł): </p>
            <p><i class="fas fa-people-arrows"></i>&nbsp;Empatia (Umysł): </p>
        </div>
    </article>

    <article class="item4">
        <div class="title">
            <h2>Stan</h2>
        </div>
        <div class="content">
            <p>Zdenerwowanie: </p>
            <p>Przerażenie: </p>
            <p>Zmęczenie: </p>
            <p>Zranienie: </p>
            <p>Wycienczenie: </p>
        </div>
    </article>
    <article class="item5">
        <div class="title">
            <h2>Relacje</h2>
        </div>
        <div class="content">
            <p>Dzieciak 1: </p>
            <p>Dzieciak 2: </p>
            <p>Dzieciak 3: </p>
            <p>Dzieciak 4: </p>
            <p>Bn 1: </p>
            <p>Bn 2: </p>
            <p>Bn 3: </p>
        </div>
    </article>
    <article class="item6">
        <div class="title">
            <h2>Baza</h2>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, officiis!</p>
        </div>

    </article>
</section>

{% endblock content %}