{% extends 'index.html' %}

{% block content %}
<aside>
    <img src="../static/images/banner.png" alt="character card banner" srcset="">
</aside>
<section class="grid-container">
    <article class="item1">
        <div class="content">
            <p>Imię: </p>
            <p>Wiek: </p>
            <p>Motywacja: </p>
            <p>Problem: </p>
            <p>Duma: </p>
            <p>Opis:</p>
            <p>Ulubiony kawałek:</p>
            <div class="item1a">
                <p>Typ: </p>
                <p>Punkty szczęścia: </p>
                <p>Oparcie: </p>
            </div>
        </div>
        </div>
    </article>
    <article class="item2">
        <div class="title">
            <h2>Cechy</h2>
        </div>
        <div class="content">
            <p>Ciało: </p>
            <p>Technika: </p>
            <p>Serce: </p>
            <p>Umysł: </p>
        </div>
    </article>
    <article class="item3">
        <div class="title">
            <h2>Umiejętności</h2>
        </div>
        <div class="content">
            <p>Skradanie się (Ciało): </p>
            <p>Siła (Ciało): </p>
            <p>Ruch (Ciało): </p>
            <p>Majsterkowanie (Technika): </p>
            <p>Programowanie (Technika): </p>
            <p>Analiza (Technika): </p>
            <p>Znajomości (Serce): </p>
            <p>Urok (Serce): </p>
            <p>Przewodzenie (Serce): </p>
            <p>Śledztwo (Umysł): </p>
            <p>Pojmowanie (Umysł): </p>
            <p>Empatia (Umysł): </p>
        </div>
    </article>

    <article class="item4">
        <div class="title">
            <h2>Stan</h2>
        </div>
        <div class="content">
            <p>Zdenerwowanie: </p>
            <p>Przerażenie: </p>
            <p>Zmęczenie: </p>
            <p>Zranienie: </p>
            <p>Wycienczenie: </p>
        </div>
    </article>
    <article class="item5">
        <div class="title">
            <h2>Relacje</h2>
        </div>
        <div class="content">
            <p>Dzieciak 1: </p>
            <p>Dzieciak 2: </p>
            <p>Dzieciak 3: </p>
            <p>Dzieciak 4: </p>
            <p>Bn 1: </p>
            <p>Bn 2: </p>
            <p>Bn 3: </p>
        </div>
    </article>
    <article class="item6">
        <div class="title">
            <h2>Baza</h2>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, officiis!</p>
        </div>

    </article>
</section>

{% endblock content %}