{% extends 'index.html' %}

{% block content %}
<section id="gallery">
    <div>
        <a target="_blank" href="../static/images/pexels-arthouse-studio-4571757.jpg"><img src="../static/images/pexels-arthouse-studio-4571757.jpg" alt="" srcset=""></a>
    </div>
    <div>
        <a target="_blank" href="../static/images/pexels-cottonbro-4842494.jpg"><img src="../static/images/pexels-cottonbro-4842494.jpg" alt="" srcset=""></a>
    </div>
    <div>
        <a target="_blank" href="../static/images/pexels-cottonbro-4842581.jpg"><img src="../static/images/pexels-cottonbro-4842581.jpg" alt="" srcset=""></a>
    </div>
    <div>
        <a target="_blank" href="../static/images/pexels-arthouse-studio-4571757.jpg"><img src="../static/images/pexels-arthouse-studio-4571757.jpg" alt="" srcset=""></a>
    </div>
    <div>
        <a target="_blank" href="../static/images/pexels-cottonbro-4842494.jpg"><img src="../static/images/pexels-cottonbro-4842494.jpg" alt="" srcset=""></a>
    </div>
    <div>
        <a target="_blank" href="../static/images/pexels-cottonbro-4842581.jpg"><img src="../static/images/pexels-cottonbro-4842581.jpg" alt="" srcset=""></a>
    </div>

   
</section>
{% endblock content %}