{% extends 'index.html' %}

{% block content %}
<section id="home">
    <header>
        <h1>RPG<span>Society</span></h1>
    </header>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ea commodi aspernatur facere provident
        saepe voluptas eaque ad reiciendis numquam necessitatibus optio aperiam, id veniam ipsum tempora nisi, quam quia
        laboriosam culpa. At omnis distinctio praesentium deleniti voluptas, excepturi, asperiores quasi commodi
        debitis, architecto quidem! Fugit maiores eos quidem voluptatum.</p>
</section>
{% endblock content %}