{% extends 'index.html' %}

{% block content %}

{% for home in home_list%}

<section id="home">
 
    <article id="about">
        <header>
            <h1>{{home.title}}<span>{{home.titleSpan}}</span></h1>
        </header>
        <p>{{home.body|safe}}</p>
    </article>
    <article id="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1htuNZp82Ck" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </article>
</section>
{%endfor%}
{% endblock content %}