{% extends 'index.html' %}

{% block content %}
<section id="home">
    <article id="about">
        <header>
            <h1>RPG<span>Society</span></h1>
        </header>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ea commodi aspernatur facere provident
            saepe voluptas eaque ad reiciendis numquam necessitatibus optio aperiam, id veniam ipsum tempora nisi, quam
            quia
            laboriosam culpa. At omnis distinctio praesentium deleniti voluptas, excepturi, asperiores quasi commodi
            debitis, architecto quidem! Fugit maiores eos quidem voluptatum.</p>
    </article>
    <article id="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1htuNZp82Ck" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </article>

</section>
{% endblock content %}