:root {
    --main-color: #200f21;
    --hover-color: rgb(58, 211, 206);
    --border-color: #e6a7f2;
}
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*logo*/
#logo {
    padding: 10px;
    float: left;
    margin-left: 30px;
    margin-right: 80px;
}
/*nawigacja*/
nav {
    /*background-color: var(--main-color);*/
    font-weight: 800;
    font-size: 24px;
    height: 80px;
    width: auto;
}
nav ul {
    list-style: none;
    padding: 10px;
}
nav ul li {
    font-family: "DotGothic16", sans-serif;
    display: inline;
    margin: 30px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: var(--hover-color);
}
#social-links {
    float: right;
}
#hamburger {
    padding-top: 20px;
    float: right;
    color: white;
    margin-top: auto;
    display: none;
}
/*aside*/
aside {
    width: 100%;
}
aside img {
    margin: 0 auto;
}

/*strona główna*/
#home {
    min-height: 315px;
    height: 100%;
    margin: 50px;
    padding: 20px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
#home article {
    padding: 20px;
}

#home h1 {
    font-size: 50px;
    font-family: "DotGothic16", sans-serif;
    color: var(--hover-color);
    font-weight: 800;
    letter-spacing: 2px;
}
#home h1 span {
    font-size: 50px;
    color: #ffffff;
}
#home p {
    padding-top: 20px;
    font-size: 20px;
}
#youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
}

#youtube iframe {
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--hover-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Postacie*/

#cards {
    font-size: 15px;
    height: 100%;
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#cards div {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 2px -2px 5px var(--hover-color);
}
#cards div:hover {
    transform: scale(1.1);
    box-shadow: 5px -5px 5px var(--hover-color);
}
#cards h2 {
    font-family: "DotGothic16", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}
#cards a {
    text-decoration: none;
}
#cards a button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    background-color: var(--main-color);
    border: 2px solid var(--hover-color);
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
}
#cards button:hover {
    background-color: var(--hover-color);
    color: var(--main-color);
}
#cards span {
    color: var(--border-color);
}
/* Karta postaci*/

.grid-container {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
    margin: 50px;
    color: white;
}
.grid-container > article {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 2px -2px 2px var(--hover-color);
}
.grid-container .item1 .content {
    column-count: 2;
}
.grid-container .item1 .content p {
    column-count: 2;
}
.grid-container .item3 .content p,
.grid-container .item4 .content p,
.grid-container .item5 .content p {
    column-count: 2;
}

.grid-container .item1 .content p span,
.grid-container .item3 .content p span,
.grid-container .item4 .content p span,
.grid-container .item5 .content p span {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.grid-container .item2 .content p {
    column-count: 2;
    padding-top: 5px;
}
.grid-container .item2 .content p span {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.grid-container .item3 .content {
    column-count: 2;
}

.title {
    border-bottom: 1px solid var(--hover-color);
}
.content {
    padding-top: 10px;
}
.content i {
    width: 20px;
    color: var(--hover-color);
}
.content span {
    font-weight: bold;
    color: var(--hover-color);
}
/*mapa*/
#map div {
    margin: 0 auto;
}
#map img {
    border: var(--border-color) 2px solid;
    box-shadow: 0px 0px 30px var(--hover-color);
    margin-bottom: 50px;
    border-radius: 20px;
}
/*galeria*/
#gallery {
    display: grid;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    align-items: center;
    width: 95%;
    justify-content: space-around;
}
#gallery div {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    box-shadow: 2px -2px 2px var(--hover-color);
}
#gallery div:hover {
    transform: scale(1.1);
    box-shadow: 5px -5px 5px var(--hover-color);
}
#gallery div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/*stopka*/
footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 35px;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    bottom: 0;
}
@media screen and (max-width: 1024px) {
    /*nawigacja*/
    nav {
        background-color: var(--main-color);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    nav ul {
        padding: 0px;
    }

    #nav-links {
        margin-top: 78px;
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        background-color: var(--main-color);
    }
    #nav-links a:hover {
        color: var(--hover-color);
    }
    #social-links {
        margin: 20px;
    }

    #hamburger {
        display: inline;
    }
    /*aside*/
    aside {
        margin-top: 100px;
        display: flex;
    }
    /*strona główna*/
    #cards {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-around;
        margin-top: 120px;
        color: white;
    }
    #cards div {
        margin-bottom: 30px;
    }
    #home {
        display: grid;
        grid-template-columns: auto;
        margin: 60px auto;
    }
    #youtube iframe {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
    }
    /*Karta postaci*/

    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
    .grid-container .content {
        font-size: 20px;
    }

    .grid-container .item1 .content {
        column-count: 1;
    }

    .grid-container .item3 .content {
        column-count: 1;
    }
    /*galeria*/
    #gallery {
        display: grid;
        margin-top: 100px;
        margin-bottom: 50px;
        grid-template-columns: auto;
        gap: 10px;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
    /*stopka*/
    footer {
        width: 100%;
        color: white;
        font-size: 20px;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
}
@media screen and (max-width: 750px) {
    /*Strona główna*/

    #home h1 {
        font-size: 30px;
        font-family: "DotGothic16", sans-serif;
        color: var(--hover-color);
        font-weight: 800;
        letter-spacing: 2px;
    }
    #home h1 span {
        font-size: 30px;
        color: #ffffff;
    }
    #home p {
        padding-top: 20px;
        font-size: 20px;
    }
    #map {
        margin-top: 150px;
    }
    #map img {
        margin: 10px;
    }
}
